*{
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  

}

body {
  background-color: white;
}

.main {
  display: flex;
  justify-content:space-evenly;
}

.slide {
  display: flex;
  flex-direction: column;
}


.titulo {
  color: #4DB2A1;
  font-weight: bold;
  font-size: 25px;
  margin: 15px;
  text-align: center;

}

.contenedor h1{
  color:#3F7FB9;
  font-size: 18px;
}

h1 {
  line-height: 110%;
  margin: 4px;
}

h2 {
  color: #1B366D;
  font-size: 25px;
  font-weight: bold;
  
}

h3 {
  color: #4DB2A1;
  font-size: 18px;

}

h4 {
  color: #1B366D;
  font-size: 14px;
  margin: 5px;
}









.contenedor{
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;

  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 15px;
}


.contenedor2{
  width: 400px;
  margin: auto;
  text-align: center;

  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

img {
  width: 200px;
  border-radius: 10px;
  border: solid #3AB59F 5px;
}


ul{
  display: flex;
  justify-content: space-between;
}




.lista{
  padding: 0px 5px;
}

.usuarios{
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.usuario{
  width: 90%;
  text-align: center;

}

.sliders ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemsSimilitudes{
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.itemSimilitude{
  display: flex;
  align-items: center;
}

.similitudes{
height: 50px;
width: 50px;
  border-radius: 50px;
  position: relative;
}

