<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sprint</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <div id="app">

    <h1 class="titulo">Similitud Coseno:</h1>
    <div class="contenedor">

      <img v-if="seleccionA" v-bind:src="'/imagenes/' + seleccionA.nombre + '.jpeg'" alt="">

      <section class="usuarios">
        <div class="usuario">
          <div class="seleccion">
            <h1>Usted selecciono a:</h1>
            <select class="" v-on:change="onSeleccionA">
              <option value="">-</option>
              <option v-for="persona in listaPersonas" v-bind:value="persona.nombre">{{persona.nombre}}</option>

              <!--
                <option v-for="persona in listaPersonas" v-bind:value="persona.nombre" v-bind:data-icon="'/imagenes/' + re + '.jpeg'">{{persona.nombre}}</option>
              -->
            </select>
          </div>
          <div class="sliders" v-if="seleccionA">
            <h3>Y sus propiedades son:</h3>

            <ul>
              <li v-for="prop in seleccionA.propiedades">
                <h4>{{prop.titulo}}:</h4>
                <input type="range" v-model:value="prop.importancia" min="0" max="1" step=".1">
                <p>{{prop.importancia}}</p>
              </li>
            </ul>
          </div>
        </div>

      </section>

      <img v-bind:src="'/imagenes/' + getUserSimilitud.nombre + '.jpeg'" alt="">
      <h1>{{getUserSimilitud.nombre}}</h1>
      <h2>Su similitud es de: {{getUserSimilitud.similitud}}</h2>

      <table border="1">
        <tr>
          <td v-for="titulo in titulares">{{titulo}}</td>
          <td>Similitud</td>
        </tr>
        <tr v-for="user in getUserSimilitudList">
          <td>{{user.nombre}}</td>
          <td v-for="prop in user.propiedades">{{prop.value}} | {{prop.importancia}} </td>
          <td>{{user.similitud}}</td>
        </tr>
      </table>




      <!--  <input type="text" class="inputK">-->

      <!--  <button class="btnCalcular">Calcular</button>-->

      <div v-if="resultVisible">
        <h2>La Similitud Coseno entre: {{seleccionA[0]}} y {{seleccionB[0]}} es {{actualizar}} %</h2>
      </div>
      <ul class="lista"></ul>
    </div>

  </div>



  <!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <script src="/librerias/jquery-3.4.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="./index.js"></script>
</body>

</html>